<div class="main-films">
    <ul>
        <li #name >
            <div class="films"> 
                <div class="film-img">
                    <img src="https://kinoafisha.ua/upload/2019/03/films/8761/1zl763x7annabel-3.jpg" alt="anabel">
                    <span (click)="deleteFilm(name.value)">{{filmX[0]}}</span>
                </div>
                <p>{{filmName[0]}}</p>
                <p>{{filmYear[0]}}</p>
            </div>
        </li>
        <li>
            <div class="films">
                <div class="film-img">
                    <img src="https://horrorzone.ru/uploads/_gallery/72166/the-boat-poster-00.jpg" alt="boat">
                    <span>{{filmX[1]}}</span>
                </div>
                <p>{{filmName[1]}}</p>
                <p>{{filmYear[1]}}</p>
            </div>
        </li>
        <li>
            <div class="films">
                <div class="film-img">
                    <img src="https://www.film.ru/sites/default/files/styles/thumb_1024x450/public/trailers_frame/sicario-la-guerre-des-cartels-affiche-francaise-1019655.jpg" alt="cikapio">
                    <span>{{filmX[2]}}</span>
                </div>
                <p>{{filmName[2]}}</p>
                <p>{{filmYear[2]}}</p>
            </div>
        </li>
        <li>
            <div class="films">
                <div class="film-img">
                    <img src="http://thumbs.dfs.ivi.ru/storage37/contents/5/1/43268719d1ac89b4aa283cad271da4.jpg" alt="patric">
                    <span>{{filmX[3]}}</span>
                </div>
                <p>{{filmName[3]}}</p>
                <p>{{filmYear[3]}}</p>
            </div>
        </li>
        <li>
            <div class="films">
                <div class="film-img">
                    <img src="https://tcb.com.ua/files/invite/151724700.jpg" alt="uglydools">
                    <span>{{filmX[4]}}</span>
                </div>
                <p>{{filmName[4]}}</p>
                <p>{{filmYear[4]}}</p>
            </div>
        </li>
    </ul>
</div>
